html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.area1 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.area1 img {
    position: absolute; 
    
}

.area1 img:first-child {
    z-index: 1;
    width: 50%; /* 50% del ancho del contenedor .area1 */
    max-width: 30vw; /* Máximo 30vw para evitar que sea demasiado grande */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
}

.area1 img:first-child {
    z-index: 1;
    width: 50%; /* 50% del ancho del contenedor .area1 */
    max-width: 30vw; /* Máximo 30vw para evitar que sea demasiado grande */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
}

.area1 img:last-child {
    z-index: 2;
    width: 50%; /* 50% del ancho del contenedor .area1 */
    max-width: 15vw; /* Máximo 30vw para evitar que sea demasiado grande */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
}

.ff-visor{
    animation: pulse 2s infinite;
}

.ff-visor-bg {
    animation-duration: 50s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {transform: rotate(0deg) scale(0.4); filter: blur(10px); opacity: (0%);}
    50% {transform: rotate(360deg) scale(1.2); filter: blur(0px); opacity:(100%);}
    100% {transform: rotate(0deg) scale(0.4); filter: blur(10px); opacity: (0%);}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.area2 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.area3 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.area4 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.area5 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}