html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lapsus-pro';
    src: url('fonts/LapsusPro-Bold.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
}

.area1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    filter: blur(2px);
    object-fit: cover; /* Cubre todo el contenedor con el video */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    height: 5vh;
    width: 60%;
    max-width: 100vw;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.7); /* Usando un color azul con opacidad */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    position: absolute; /* Posiciona el menú sobre el video */
    top: 30px; /* Ajusta según tus necesidades */
}

.menu-option {
    
    font-family: 'Lapsus-pro';
    font-size: 17px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}
